<ion-content [fullscreen]="true">

  <div id="container">
   <h1>  <b>Todo List </b> </h1>
     <div class="form">
     <form [formGroup] ="loginForm">
      
      <ion-item transparent>
        <img icon-small src="assets/img/user.png" style="width: 40px; height: 30px;">
        <ion-input required type="text" formControlName="username" placeholder=" Username"></ion-input>
      </ion-item>
          <br>

      <ion-item>
        <img icon-small src="assets/img/password.jpg" style="width: 40px; height: 30px;">
        <ion-input required type="password" formControlName="password" placeholder=" Password"></ion-input>
        </ion-item>
          <br>
         
         <div class="error-messages">
         {{successMessage}}
         </div>
          <br>

            <div class="ion-padding">
            <ion-button (click)="login()" [disabled]="!loginForm.valid" expand="block" type="submit" class="ion-no-margin">LOG IN  </ion-button>
            </div>
     </form>
    </div>
  </div>
</ion-content>
